6. Продвинутая работа с функциями/6.3 Замыкание/.vs/ProjectSettings.json
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/slnx.sqlite
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/VSWorkspaceState.json
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/216f3e92-703f-4bed-81b0-04e04d88281c.vsidx
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/960d679d-3f9d-4957-9ebd-de79297ccc11.vsidx
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/b0708977-0b5f-4a7f-b207-4fa47c8e3080.vsidx
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/read.lock
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/v17/.wsuo
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/3e62aa97-1152-4819-a89b-b3f98e40bc1b.vsidx
6. Продвинутая работа с функциями/6.3 Замыкание/.vs/6.3 Замыкание/FileContentIndex/a288c10a-d34f-4879-8fb4-512973894520.vsidx
